.carousel-inner img {
    height: 100%; width: 100%; display: block;
}
.icon-lg {
    font-size: 50px;
    padding: 0 25px;
    color: #269abc;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -181px;
  /* Pad bottom by footer height */
  padding: 0 0 181px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.shadow-bot {
    -webkit-box-shadow: 0px 2px 8px #000000;
       -moz-box-shadow: 0px 2px 8px #000000;
            box-shadow: 0px 2px 8px #000000;
}
.shadow-top {
    -webkit-box-shadow: 0px -1px 8px #000000;
       -moz-box-shadow: 0px -1px 8px #000000;
            box-shadow: 0px -1px 8px #000000;
}

.sm-txt {
    width: 80px;
}

body {
   /* padding-top: 70px; */
}

.header-bar {
    min-height: 80px;
}

.footer-top {
    border-width: 3px 0 0;
    text-align: right;
    border-color: #676767;
    border-style: solid;
    clear: both;
    overflow: hidden;
    padding: 10px;
    margin-top: 40px;
}

.footer-middle {
    padding: 30px;
    border-top: 1px solid #666666;
    clear: both;
    overflow: hidden;
    background-color: #000000;
}

.footer-bot {
    border-top: 1px solid #666666;
    clear: both;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 0px 0px 7px 7px;
    background-color: #000000;
}
.footer-bot p {
    line-height: 30px;
    margin: 0;
}
.credit-card {
    width: 140px;
    float: left;
    margin-left: 20px;
    min-height: 1px;
}

.payment-method.master-card {
    background-position: -310px -10px;
}
.payment-method.visa {
    background-position: -310px -60px;
}
.payment-method.america-express {
    background-position: -310px -110px;
}
.payment-method.jcb {
    background-position: -310px -160px;
}
.payment-method.diners-club {
    background-position: -310px -210px;
}
.payment-method.union-pay {
    background-position: -310px -260px;
}
.payment-method.maestro {
    background-position: -310px -310px;
}
.payment-method.discover {
    background-position: -310px -360px;
}
.payment-method {
    background: url("../img/payment-methods-sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    height: 40px;
    margin: 0 0 10px;
    width: 140px;
    display: block;
}

.payment-method-banks {
    background: url("../img/payment-methods-banks.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    height: 40px;
    margin: 0 0 10px;
    width: 140px;
    display: block;
}
.payment-method-banks.seb {
    background-position: -310px -10px;
}
.payment-method-banks.swed {
    background-position: -310px -60px;
}
.payment-method-banks.handelsbanken {
    background-position: -310px -160px;
}
.payment-method-banks.nordea {
    background-position: -310px -210px;
}
